/* .table {
  display: table;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
} */
/* td{ width: 33%; } */
/* .notes-table td{ width: 100%; } */
.note-id{ width: 10%; }
.note-input{ width: 50%; }
body{ padding: 10px; }
a.disabled {
	color: gray;
  pointer-events: none;
  cursor: default;
}
th, .center{ text-align: center; }
